data/*
!data/.gitkeep
*.csv
*.zip

cache/
*.npz
*.npy

space/assets/

.venv/
venv/
env/

__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

*.pth
*.pt
*.txt.model

.DS_Store
Thumbs.db
.vscode/
.idea/
